<!-- Footer -->
{{ $data := index .Site.Data .Site.Language.Lang }}
<footer id="footer">
    <section class="split contact">
        {{ with $data.contactinfo.address }}
        <section class="alt">
            <h3>{{ i18n "CONTACT_ADDRESS" . }}</h3>
            <p>
                {{ range $i, $e := . }}
                    {{ if $i }} <br/> {{ end }} {{ .line }}
                {{ end }}
            </p>
        </section>
        {{ end }}
        {{ with $data.contactinfo.phone }}
        <section>
            <h3>{{ i18n "CONTACT_PHONE" . }}</h3>
            <p><a href="tel:{{ . }}">{{ . }}</a></p>
        </section>
        {{ end }}
        {{ with $data.contactinfo.email }}
        <section>
            <h3>{{ i18n "CONTACT_EMAIL" . }}</h3>
            <p><a href="mailto:{{ . }}">{{ . }}</a></p>
        </section>
        {{ end }}
    </section>
</footer>
